<h2 class="sr-only top-content-title">Validation Reports</h2>

<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

<%= render 'search_header' %>

<%- if @response.empty? %>
  <%= render "report_list" %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>