<h1>Validation Report: <%= params[:id] %></h1>
<ul>
  <% @docs.each do |doc| =%>
    <li>
      <% #TODO: Link ID to side-by-side comparison view %>
      <%= doc["id"] %><br/>
      sourceResource_title: <%= doc["sourceResource_title"] || "MISSING" %><br/>
      isShownAt_id: 
      <% if doc["isShownAt_id"] %>
        <%= link_to doc["isShownAt_id"], doc["isShownAt_id"] %><br/>
      <% else %>
        MISSING
      <% end %>
    </li>
  <% end %>
</ul>